.dashboard-container {
  min-height: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
  padding: 24px;

  section {
    background-color: $--generic-white;
    border-radius: 12px;
    padding: 10px;

    
    &:nth-child(6){
        grid-column: 3 / 3;
        grid-row: 2 / 4;
    }

    &:last-child {
      grid-column: 1 / 3;
    }
  }
}
