$--generic-grey: #e1e2e9;
$--generic-background: #f4f5fa;
$--generic-white: #ffffff;
$--generic-stroke: #f1f3f9;
$--generic-success: #519c66;
$--generic-danger: #cc5f5f;

$--primary-10: #dbdeee;
$--primary-20: #c4cae8;
$--primary-30: #b6bfe8;
$--primary-40: #abb5e9;
$--primary-50: #97a5eb;
$--primary-60: #8899e9;
$--primary-70: #7c8fec;
$--primary-80: #6d83ec;
$--primary-90: #6078ec;
$--primary-100: #5570f1;

$--secondary-10: #fef9f2;
$--secondary-20: #fef5ea;
$--secondary-30: #fff2e2;
$--secondary-40: #fff0de;
$--secondary-50: #ffead1;
$--secondary-60: #ffe5c8;
$--secondary-70: #ffdfba;
$--secondary-80: #ffdaae;
$--secondary-90: #ffd29e;
$--secondary-100: #ffcc91;

$--neutral-10: #bec0ca;
$--neutral-20: #a6a8b1;
$--neutral-30: #8b8d97;
$--neutral-40: #6e7079;
$--neutral-50: #53545c;
$--neutral-60: #45464e;
$--neutral-70: #37393f;
$--neutral-80: #33343a;
$--neutral-90: #2c2d33;
$--neutral-100: #1c1d22;

@mixin flex($fd, $jc, $ai, $g: 0, $fw: nowrap) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-wrap: $fw;
}
